@import url("http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
body {
  background: #fff;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

section {
  position: relative;
  height: 84vh;
  margin: 8vh; }

.section {
  padding-top: 10vh; }

.remove-side-padding {
  padding: 0px; }

.row {
  margin: 0px; }

html, body {
  height: 100%;
  margin: 0;
  font-size: 20px; }

.scrollContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .scrollContainer .scroll {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 102%; }

.no-scroll {
  margin: 0 1%; }

.content {
  background: #f6f6f6;
  padding: 100px;
  height: 74vh; }
  .content p {
    color: #414141; }

a.brand {
  padding: 0px;
  position: fixed;
  width: 88px;
  height: 88px;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 1000;
  background: url(../img/logo.svg) no-repeat top 11px left 15px;
  background-size: 80%; }
  @media screen and (max-width: 414px) {
    a.brand {
      background: url(../img/logo.svg) no-repeat top 5px left 5px;
      background-size: 50px;
      height: 55px;
      width: 55px; } }

h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  text-transform: uppercase;
  display: block;
  word-break: break-all; }

.container-fluid {
  max-width: 1700px; }

h2 {
  font-size: 150px;
  font-weight: 600;
  line-height: 0.8em;
  text-align: right;
  padding-right: 100px;
  display: block;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 120px; } }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 90px; } }
  @media screen and (max-width: 414px) {
    h2 {
      font-size: 70px; } }

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px; }

@media screen and (max-width: 414px) {
  section {
    margin-left: 60px; } }

.sectionOne {
  height: 100vh;
  background: #263647;
  margin: 0px; }
  .sectionOne h2 {
    color: #FECD00;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 0.5em;
    margin-left: 0.5em;
    margin-top: 0px;
    line-height: 1em; }
  .sectionOne h3 {
    text-transform: uppercase;
    font-size: 250px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 0.9em;
    position: relative;
    letter-spacing: 15px; }
    @media screen and (max-width: 1024px) {
      .sectionOne h3 {
        font-size: 150px;
        letter-spacing: 10px; } }
    @media screen and (max-width: 768px) {
      .sectionOne h3 {
        font-size: 140px;
        letter-spacing: 5px; } }
    @media screen and (max-width: 736px) {
      .sectionOne h3 {
        font-size: 130px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 667px) {
      .sectionOne h3 {
        font-size: 120px; } }
    @media screen and (max-width: 568px) {
      .sectionOne h3 {
        font-size: 100px; } }
    @media screen and (max-width: 414px) {
      .sectionOne h3 {
        font-size: 80px; } }
    @media screen and (max-width: 375px) {
      .sectionOne h3 {
        font-size: 65px; } }
    .sectionOne h3 span {
      content: "";
      background: url("../img/10years.svg") no-repeat 0px 10px;
      background-size: 100%;
      display: inline-block;
      text-indent: -3000em;
      width: 50%;
      height: 100%;
      left: 36%;
      position: absolute; }

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  background: #fff;
  padding-left: 100px;
  z-index: 5; }
  nav ul {
    list-style: none;
    padding: 0px;
    margin: 0; }
    nav ul li {
      float: left;
      width: 25%; }
      nav ul li a {
        border-bottom: 0px;
        padding: 30px 20px;
        color: #E25200;
        display: block;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase; }
        nav ul li a:last-of-type {
          border-right: none; }
        nav ul li a:hover {
          background: #E25200;
          color: #fff;
          text-decoration: none; }
        @media screen and (max-width: 1024px) {
          nav ul li a {
            font-size: 15px; } }
        @media screen and (max-width: 1024px) {
          nav ul li a {
            font-size: 12px; } }

.sectionTwo {
  background: #FECD00; }
  .sectionTwo p {
    color: #161D22; }
  .sectionTwo h2 {
    right: 50%; }

.sectionThree {
  background: #1C2732; }
  .sectionThree .section {
    padding: 100px 0px 0px 0px; }
  @media screen and (max-width: 414px) {
    .sectionThree {
      padding: 0 0px 60px 0px;
      margin-right: 0px; } }
  .sectionThree h2 {
    text-align: left;
    position: absolute;
    left: 50%;
    padding-left: 120px;
    color: #FECD00; }
  .sectionThree .content {
    padding: 30px; }

.sectionFour {
  background: #f6f6f6; }
  .sectionFour .section {
    padding: 200px 0px 0px 0px; }
  @media screen and (max-width: 414px) {
    .sectionFour {
      padding: 0 0px 60px 0px;
      margin-right: 0px; } }
  .sectionFour h2 {
    text-align: right;
    position: absolute;
    right: 50%;
    padding-left: 120px;
    color: #FECD00; }
  .sectionFour .content {
    padding: 0px; }

.content-border {
  width: 100%;
  border: 1px solid #ddd;
  padding: 30px 20px 20px 20px;
  margin-top: 30px; }
  .content-border h3 {
    border-bottom: 1px solid #ddd;
    color: #414141;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 15px; }
  .content-border ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .content-border ul li {
      padding: 15px 0; }

.highlight-box {
  background: #CF5601;
  text-align: right; }
  .highlight-box .btn {
    min-width: 50%; }
    @media screen and (max-width: 768px) {
      .highlight-box .btn {
        min-width: auto; } }

.btn {
  border-radius: 0px;
  padding: 25px 40px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center; }
  .btn.btn-primary {
    background: #E35D00;
    border-color: #E35D00; }
    .btn.btn-primary:hover {
      background: #b04800; }
    @media screen and (max-width: 768px) {
      .btn.btn-primary {
        font-size: 15px; } }
  .btn.word:after {
    content: "\f1c2";
    font-family: FontAwesome;
    font-size: 24px;
    padding-left: 15px; }

hr.arrow {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: none;
  background: url("../img/arrowDown.svg") no-repeat center center;
  height: 144px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0px;
  border: none !important;
  background-size: cover !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .overlay:after {
    content: "" !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
  .overlay.lime:after {
    background: #b2d33c;
    /* The Fallback */
    background: rgba(178, 211, 60, 0.9); }
  .overlay.orange:after {
    background: #ff7c0a;
    /* The Fallback */
    background: rgba(255, 124, 10, 0.9); }

img.logo {
  height: 15vh;
  position: relative;
  transform: perspective(1px) translateY(40%); }

.content-box {
  min-height: 35vh;
  position: relative; }
  .content-box a {
    display: block;
    z-index: 1;
    position: relative;
    min-height: 35vh;
    text-align: center;
    overflow: hidden; }
    .content-box a span.title {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 30px;
      display: block;
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      bottom: 0px;
      position: absolute;
      text-align: left;
      transition: all 0.5s ease; }
      .content-box a span.title:after {
        content: "\f101";
        font-family: FontAwesome;
        font-size: 26px;
        padding-left: 0px;
        position: absolute;
        right: -120px;
        top: 0px;
        transition: all 0.5s ease;
        width: 90px;
        height: 100%;
        background: #fff;
        color: #333;
        text-align: center;
        line-height: 90px; }
    .content-box a:hover .overlay {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .content-box a:hover .overlay.lime:after {
        background: #b2d33c;
        /* The Fallback */
        background: rgba(178, 211, 60, 0.7); }
      .content-box a:hover .overlay.orange:after {
        background: #ff7c0a;
        /* The Fallback */
        background: rgba(255, 124, 10, 0.7); }
    .content-box a:hover span {
      background: rgba(0, 0, 0, 0.2); }
      .content-box a:hover span:after {
        right: 25px; }
