@import url("http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
body {
  background: #f1f1f1;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

section {
  position: relative;
  margin: 0 4vw;
  min-height: 100vh; }
  @media screen and (max-width: 768px) {
    section {
      margin: 0px; } }

.remove-side-padding {
  padding: 0px; }

.row {
  margin: 0px; }

html, body {
  height: 100%;
  margin: 0;
  font-size: 20px; }

.content {
  padding: 100px;
  color: #414141; }
  .content p {
    color: #414141; }
  .content h3 {
    margin: 1em 0; }
  @media screen and (max-width: 1024px) {
    .content {
      padding: 60px; } }
  @media screen and (max-width: 414px) {
    .content {
      padding: 30px; } }

a.brand {
  padding: 0px;
  position: fixed;
  width: 84px;
  height: 84px;
  top: 0px;
  left: 4vw;
  display: block;
  z-index: 1000;
  background: #c0392b url(../img/logo-w.svg) no-repeat top 11px left 11px;
  background-size: 60px; }
  @media screen and (max-width: 786px) {
    a.brand {
      background: url(../img/logo.svg) no-repeat top 8px left 8px;
      height: 65px;
      width: 65px;
      background-size: 88%; } }

h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  text-transform: uppercase;
  display: block;
  word-break: break-all; }

.container-fluid {
  max-width: 1700px; }

h2 {
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.8em;
  text-align: right;
  padding: 100px;
  vertical-align: middle;
  display: block; }
  @media screen and (max-width: 1024px) {
    h2 {
      padding: 50px;
      font-size: 9.5vw; } }

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8em; }
  p.lead {
    font-size: 22px; }

.sectionOne {
  height: 100vh;
  background: #c0392b; }
  .sectionOne h2 {
    color: #FECD00;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 0.5em;
    margin-left: 0.5em;
    margin-top: 0px;
    line-height: 1em; }
  .sectionOne h3 {
    text-transform: uppercase;
    font-size: 250px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 0.9em;
    position: relative;
    letter-spacing: 15px; }
    @media screen and (max-width: 1024px) {
      .sectionOne h3 {
        font-size: 150px;
        letter-spacing: 10px; } }
    @media screen and (max-width: 768px) {
      .sectionOne h3 {
        font-size: 140px;
        letter-spacing: 5px; } }
    @media screen and (max-width: 736px) {
      .sectionOne h3 {
        font-size: 130px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 667px) {
      .sectionOne h3 {
        font-size: 120px; } }
    @media screen and (max-width: 568px) {
      .sectionOne h3 {
        font-size: 100px; } }
    @media screen and (max-width: 414px) {
      .sectionOne h3 {
        font-size: 80px; } }
    @media screen and (max-width: 375px) {
      .sectionOne h3 {
        font-size: 65px; } }
    .sectionOne h3 span {
      content: "";
      background: url("../img/10years.svg") no-repeat 0px 10px;
      background-size: 100%;
      display: inline-block;
      text-indent: -3000em;
      width: 50%;
      height: 100%;
      left: 36%;
      position: absolute; }

nav {
  position: fixed;
  width: 100%;
  padding: 0 4vw;
  top: 0px;
  background: #f1f1f1;
  padding-left: 100px;
  z-index: 5; }
  nav ul {
    list-style: none;
    padding: 0px;
    float: right;
    margin: 0; }
    nav ul li {
      float: left; }
      nav ul li a {
        border-bottom: 0px;
        padding: 28px 20px;
        color: #333;
        display: block;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600; }
        nav ul li a:last-of-type {
          border-right: none; }
        nav ul li a.active {
          color: #E25200;
          text-decoration: none; }
        nav ul li a:hover {
          background: #E25200;
          color: #fff;
          text-decoration: none; }
  @media screen and (max-width: 768px) {
    nav {
      padding: 0px; }
      nav ul li a {
        font-size: 12px; } }
  @media screen and (max-width: 500px) {
    nav ul {
      padding: 0 0 0 60px; }
      nav ul li {
        width: 25%; }
        nav ul li a {
          padding: 20px 15px; } }

.sectionTwo {
  background: #FECD00; }

.sectionThree {
  background: #263647; }
  .sectionThree h2 {
    color: #FECD00; }

.sectionFour {
  background: #e67e22; }
  .sectionFour .content {
    padding: 0px; }
  .sectionFour h2 {
    color: #fff; }

.content-border {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  text-align: center; }
  .content-border:first-of-type {
    margin: 0px; }
  .content-border h3 {
    color: #414141;
    padding: 30px;
    margin: 0px; }
  .content-border ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .content-border ul li {
      padding: 20px 0;
      border-top: 1px solid #e6e6e6; }
      .content-border ul li p {
        margin: 0px;
        font-weight: 400; }

.highlight-box {
  background: #CF5601;
  text-align: right; }
  .highlight-box .btn {
    min-width: 50%; }
    @media screen and (max-width: 768px) {
      .highlight-box .btn {
        min-width: auto; } }

.btn {
  border-radius: 0px;
  padding: 25px 40px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center; }
  .btn.btn-primary {
    background: #E35D00;
    border-color: #E35D00; }
    .btn.btn-primary:hover {
      background: #b04800; }
    @media screen and (max-width: 768px) {
      .btn.btn-primary {
        font-size: 15px; } }
  .btn.word:after {
    content: "\f1c2";
    font-family: FontAwesome;
    font-size: 24px;
    padding-left: 15px; }

hr.arrow {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: none;
  background: url("../img/arrowDown.svg") no-repeat center center;
  height: 144px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0px;
  border: none !important;
  background-size: cover !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .overlay:after {
    content: "" !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
  .overlay.lime:after {
    background: #b2d33c;
    /* The Fallback */
    background: rgba(178, 211, 60, 0.9); }
  .overlay.orange:after {
    background: #ff7c0a;
    /* The Fallback */
    background: rgba(255, 124, 10, 0.9); }
  .overlay.red:after {
    background: red;
    /* The Fallback */
    background: rgba(255, 0, 0, 0.9); }

img.logo {
  height: 200px;
  position: relative;
  transform: perspective(1px) translateY(30%); }

.content-box {
  min-height: 400px;
  position: relative;
  text-align: center; }
  .content-box a {
    display: block;
    z-index: 1;
    position: relative;
    min-height: 400px;
    text-align: center;
    overflow: hidden; }
    .content-box a span.title {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 30px;
      display: block;
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      bottom: 0px;
      position: absolute;
      text-align: left;
      transition: all 0.5s ease; }
      .content-box a span.title:after {
        content: "\f101";
        font-family: FontAwesome;
        font-size: 26px;
        padding-left: 0px;
        position: absolute;
        right: -120px;
        top: 0px;
        transition: all 0.5s ease;
        width: 90px;
        height: 100%;
        background: #fff;
        color: #333;
        text-align: center;
        line-height: 90px; }
    .content-box a:hover .overlay {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .content-box a:hover .overlay.lime:after {
        background: #b2d33c;
        /* The Fallback */
        background: rgba(178, 211, 60, 0.7); }
      .content-box a:hover .overlay.orange:after {
        background: #ff7c0a;
        /* The Fallback */
        background: rgba(255, 124, 10, 0.7); }
      .content-box a:hover .overlay.red:after {
        background: red;
        /* The Fallback */
        background: rgba(255, 0, 0, 0.7); }
    .content-box a:hover span {
      background: rgba(0, 0, 0, 0.2); }
      .content-box a:hover span:after {
        right: 0px; }

.sectionOne {
  overflow: hidden; }

.sectionOne:after {
  -webkit-animation: circle-2 10s ease infinite;
  animation: circle-2 10s ease infinite;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  content: "";
  height: 180%;
  position: absolute;
  right: -69%;
  top: -48%;
  width: 100%;
  z-index: 1; }

.sectionOne:before {
  -webkit-animation: circle-1 10s ease infinite;
  animation: circle-1 10s ease infinite;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  content: "";
  display: block;
  height: 160%;
  left: auto;
  position: absolute;
  right: -69%;
  top: -30%;
  width: 100%;
  z-index: 0; }

@-webkit-keyframes circle-1 {
  0% {
    -webkit-transform: translate(0) scaleY(1.2);
    transform: translate(0) scaleY(1.2); }
  40% {
    -webkit-transform: translate(-40px) scaleY(1.3);
    transform: translate(-40px) scaleY(1.3); }
  80% {
    -webkit-transform: translateX(20px) scaleY(1.3);
    transform: translateX(20px) scaleY(1.3); }
  100% {
    -webkit-transform: translateX(0) scaleY(1.2);
    transform: translateX(0) scaleY(1.2); } }

@keyframes circle-1 {
  0% {
    -webkit-transform: translate(0) scaleY(1.2);
    transform: translate(0) scaleY(1.2); }
  40% {
    -webkit-transform: translate(-40px) scaleY(1.3);
    transform: translate(-40px) scaleY(1.3); }
  80% {
    -webkit-transform: translateX(20px) scaleY(1.3);
    transform: translateX(20px) scaleY(1.3); }
  100% {
    -webkit-transform: translateX(0) scaleY(1.2);
    transform: translateX(0) scaleY(1.2); } }

@-webkit-keyframes circle-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  33% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  66% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px); }
  100% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); } }

@keyframes circle-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  33% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  66% {
    -webkit-transform: translate(-20px);
    transform: translate(-20px); }
  100% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); } }

.visible {
  opacity: 1 !important; }

.slideInUp {
  animation-delay: 0.6s; }

@media only screen and (max-width: 993px) {
  h2 {
    text-align: center;
    display: block; }
  .sticky {
    position: relative !important;
    top: 0px !important; }
  .pull-right {
    float: none !important; } }

.projectOpen .col-md-6 {
  width: 25%;
  transition-duration: 0.5s; }
  .projectOpen .col-md-6 h2 {
    font-size: 4vw;
    padding: 50px 100px 50px 50px; }

.projectOpen .col-md-6.content {
  width: 75%;
  transition-duration: 1s; }

.content, .col-md-6 {
  transition-duration: 1s; }

.project h2, .project h3 {
  text-align: left; }

.project .content {
  padding: 100px; }

.project .lime:after {
  background: #b2d33c;
  /* The Fallback */
  background: rgba(178, 211, 60, 0.7); }

.project .orange:after {
  background: #ff7c0a;
  /* The Fallback */
  background: rgba(255, 124, 10, 0.7); }

.project .red:after {
  background: red;
  /* The Fallback */
  background: rgba(255, 0, 0, 0.7); }

.project .closeProject {
  width: 100%;
  padding: 30px;
  background: #ffe165;
  z-index: 100;
  display: block;
  color: #414141;
  text-transform: uppercase; }
  .project .closeProject span {
    display: none; }
  .project .closeProject:after {
    content: "\f057";
    font-family: FontAwesome;
    font-size: 44px;
    padding-left: 15px;
    position: absolute;
    background: #fff;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 90px;
    line-height: 88px;
    padding: 0 0 0 25px;
    color: #FECD00; }
