@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

body{
  background:#f1f1f1;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section{
  position:relative;
  margin:0 4vw;
  min-height:100vh;

  @media screen and(max-width:768px){
    margin:0px;
  }
}


.verticalAllign{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   height:100%;
}

.remove-side-padding{
  padding:0px;
}


.row{
  margin:0px;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}




a.brand {
    padding:0px;
    position: fixed;
    width:84px;
    height:84px;
    top: 0px;
    left: 4vw;
    display: block;
    z-index: 1000;
    background:#c0392b url(../img/logo-w.svg) no-repeat top 11px left 11px ;
    background-size:60px;
    

    @media screen and (max-width:786px){

    background: url(../img/logo.svg) no-repeat top 8px left 8px ;
    height:65px;
    width:65px;
    background-size:88%;
    }

}

h2,h3,h4,h5{
   padding:0px;
   margin:0px;
   max-width:100%;
   text-transform: uppercase;
   display:block;
   word-break: break-all ;
}
.container-fluid{
  max-width:1700px;
}


h2{
  font-size: 8vw;
  font-weight: 600;
  line-height:0.8em;
  text-align: right;
  padding:100px;
  vertical-align:middle;
  display:block;

  @media screen and (max-width:1024px){
    padding:50px;
    font-size:9.5vw;
  }

}

p{
  font-size: 18px;
  font-weight:300;
  line-height:1.8em;

  &.lead {
     font-size: 22px;
  }
}

h1{
  text-transform:uppercase;
    color:#fff;
    font-weight:300;
    font-size:30px;
    line-height:2.2em;
    letter-spacing: 15px;

    strong { 

    display:block;
    font-size:140px;
    color:#163540;
    font-weight:800;
    line-height:0.8em;
    width:100%;
    letter-spacing: 0px;
  }


 
}

.sectionOne{
  height:100vh;
    background:#69B9D5;
 
 }





nav{
  position:fixed;
  width:100%;
  padding:0 4vw;
  top:0px;
  background:#f1f1f1;
  //border-bottom:1px solid #f2f2f2;
  padding-left:100px;

  z-index: 5;
  ul{
     list-style: none;
     padding:0px;
     float:right;
     margin:0;

     li{
       float:left;

        a{
  
          border-bottom:0px;
        //  border-left:1px solid #f2f2f2;
          padding:28px 20px;
          color:#333;
          display:block;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          font-weight:600;

          &:last-of-type{
            border-right:none;
          }
          &.active{
            color:#E25200;
            text-decoration:none;
          }


          &:hover{
            background:#E25200;
            color:#fff;
            text-decoration: none;
          }

     

 

        
     }
  }
}
 
          @media screen and (max-width:768px){
          padding:0px;
          position:absolute;
          right:-100%;

          
          }
         

}


.sectionTwo
{
    background:#fff;


  h2{
    color:#414141;
  }





}

.sectionThree
{


  background:#263647;


  h2{
    color:#FECD00;
  }



}

.sectionFour
{
  background:#e67e22;

 .content{
   padding:0px;
 }

  h2{
    color:#fff;
  }


}

.content-border{
  width:100%;
  margin-top:30px;
  background:#fff;
  text-align:center;

  &:first-of-type{
    margin:0px;
  }

  h3{
    color:#414141;
    padding:30px;
    margin:0px;
  }

  ul{
    list-style:none;
    margin:0px;
    padding:0px;
    li{
      padding:20px 0;
      border-top:1px solid #e6e6e6;

      p{
        margin:0px;
        font-weight:400;
      }
    }
  }
}


.highlight-box{
  background:#CF5601;
  text-align:right;

  .btn{
    min-width:50%;

    @media screen and (max-width:768px){
      min-width:auto;
    }
  }
}

.btn{
  border-radius:0px;
  padding:25px 40px;
  font-size:25px;
  text-transform:uppercase;
  text-align: center;

  &.btn-primary{
     background:#E35D00;
     border-color:#E35D00;

      &:hover{
        background:darken(#E35D00,10%);
      }

      @media screen and (max-width:768px){
      font-size:15px;
    }    
  }

  &.word:after {
    content: "\f1c2";
    font-family: FontAwesome;
    font-size: 24px;
    padding-left:15px;
}
}


hr.arrow {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: none;
    background:url('../img/arrowDown.svg') no-repeat center center;
    height:144px;

}

$lime: #b2d33c;
$orange:#ff7c0a;
$red:red;

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}



  .overlay{
    position:absolute;
    width:100%;
    height:100%;
    z-index: 0;
    left:0px;
    border:none !important;
    background-size:cover !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;


    &:after{
      content:"" !important;
      position:absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
    
    }


     &.lime:after{
        @include background-opacity($lime, 0.9);
     }

        &.orange:after{
        @include background-opacity($orange, 0.9);
     }

             &.red:after{
        @include background-opacity($red, 0.9);
     }
  }

  img.logo {
    height:200px;
    position: relative;
    transform: perspective(1px) translateY(30%);

}

.content-box 
{
  min-height:400px;
  position:relative;
  text-align: center;


  a {
    display:block;
    z-index:1;
    position:relative;
    min-height:400px;
    text-align: center;
    overflow:hidden;


    span.title{
      border-top:1px solid rgba(255,255,255,0.3);
      padding:30px;
      display:block;
      width:100%;
      color:#fff;
      text-transform:uppercase;
      bottom:0px;
      position:absolute;
      text-align: left;
      transition:all 0.5s ease;

        &:after {
      content: "\f101";
    font-family: FontAwesome;
    font-size: 26px;
    padding-left: 0px;
    position: absolute;
    right: -120px;
    top: 0px;
    transition: all 0.5s ease;
    width: 90px;
    height: 100%;
    background: #fff;
    color: #333;
    text-align: center;
    line-height: 90px;

}


    }
      &:hover{
        .overlay{

    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

            &.lime:after{
        @include background-opacity($lime, 0.7);
     }

            &.orange:after{
        @include background-opacity($orange, 0.7);
     }

     
            &.red:after{
        @include background-opacity($red, 0.7);
     }


        }

        
     span{
       background:rgba(0,0,0,0.2);

               &:after {
 
    right:0px;
  
}
     }

    }
  }
}

@media only screen and (max-width:993px){

  h2{
    text-align: center;
    display:block;
  }



  .sticky{
    position:relative !important;
    top:0px !important;
  }

  .pull-right{
    float:none !important;
  }

}


