
{% extends "layout-multi-sections3.html" %}
{% block sectionOne%}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-offset-1 col-md-10">
            <div class="content-block">
              <h2>Rod Miley</h2>
 <h3>Designer
  
 
 </h3>
            </div>
            

</div>

    </div>
</div>

{% endblock %}
{% block sectionTwo%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 remove-side-padding">

            <h2>About<br />me</h2>
        </div>
                <div class="col-md-6 remove-side-padding">
                    <div class="white content">
                        <div class="scroll">
<p>
    My name is Rod Miley, I am a digital designer, web developer and dad base in Liverpool uk, I have 10 years industry experience,
    over the years I've worked with brands such as Leeds.gov.uk, Nationwide building society, NHS and The Co-operative.
</p>
<p>
I am an advocate of  a user centered approach, I like to simply cut through the content and deliver the key information to
the user!
</p>
        </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}
{% block sectionThree %}
<div class="container-fluid content">
<div class="scroll">
    <div class="row">
     <h2>What I<br />Do</h2>
<div class="col-md-12 remove-side-padding">
 
 
     <div class="content-border">
            <h3>UX</h3>
            <ul>
                <li><p>SKETCHING</p></li>
                 <li><p>WIREFRAMING</p></li>
                  <li><p>PROTOTYPING</p></li>
                   <li><p>USER TESTING</p></li>
                    <li><p>COMPETITOR ANALISIS</p></li>
            </ul>
            </div>
         <div class="content-border">
            <h3>Visual Design</h3>
            <ul>
                <li><p>SKETCH</p></li>
                 <li><p>ILLUSTRATOR</p></li>
                  <li><p>PROTOSHOP</p></li>
                   <li><p>FIREWORKS</p></li>
                    <li><p>COMPETITOR ANALISIS</p></li>
            </ul>
            </div>

                    <div class="content-border">
            <h3>Development</h3>
            <ul>
                <li><p>HTML5</p></li>
                 <li><p>CSS 3</p></li>
                  <li><p>SASS / LESS</p></li>
                   <li><p>JAVASCRIPT</p></li>
                    <li><p>RESPONSIVE</p></li>
                    <li><p>GIT</p></li>
            </ul>
            </div>
           </div>
    </div> 
</div>

    


    </div>
</div>
<div class="highlight-box">
    <a class="btn btn-primary word" target="_blank" href="http://www.bbc.co.uk">Download my cv</a>
</div>

{% endblock %}
{% block sectionFour%}
{% endblock %}


