
{% extends "layout-multi-sections3.html" %}
{% block sectionOne%}
<a href="" class="brand"></a> 
<div class="container-fluid">
    <div class="row">
    <div class="col-md-offset-1 col-md-10">
            <div class="content-block">
              <h2>Rod Miley</h2>
 <h3>Designer
  
 
 </h3>
            </div>
            

</div>

    </div>
</div>
<hr class="arrow" />
 <nav>
     <ul>
         <li><a href="">About me</a></li>
         <li><a href="">What I do</a></li>
         <li><a href="">My work</a></li>
         <li><a href="">Get in touch</a></li>
     </ul>
</nav>
{% endblock %}
{% block sectionTwo%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>About<br />me</h2>
<p>
    My name is Rod Miley, I am a digital designer, web developer and dad base in Liverpool uk, I have 10 years industry experience,
    over the years I've worked with brands such as Leeds.gov.uk, Nationwide building society, NHS and The Co-operative.
</p>
<p>
I am an advocate of  a user centered approach, I like to simply cut through the content and deliver the key information to
the user!
</p>
        </div>
    </div>
</div>

<hr class="arrow" />

{% endblock %}
{% block sectionThree %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>What I<br />Do</h2>
        </div>
        <div class="col-md-4">
            <div class="content-border">
            <h3>UX</h3>
            <ul>
                <li>SKETCHING</li>
                 <li>WIREFRAMING</li>
                  <li>PROTOTYPING</li>
                   <li>USER TESTING</li>
                    <li>COMPETITOR ANALISIS</li>
            </ul>
            </div>
        </div>
                <div class="col-md-4">
            <div class="content-border">
            <h3>Visual Design</h3>
            <ul>
                <li>SKETCH</li>
                 <li>ILLUSTRATOR</li>
                  <li>PROTOSHOP</li>
                   <li>FIREWORKS</li>
                    <li>COMPETITOR ANALISIS</li>
            </ul>
            </div>
        </div>
                <div class="col-md-4">
            <div class="content-border">
            <h3>Development</h3>
            <ul>
                <li>HTML5</li>
                 <li>CSS 3</li>
                  <li>SASS / LESS</li>
                   <li>JAVASCRIPT</li>
                    <li>RESPONSIVE</li>
                    <li>GIT</li>
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="highlight-box">
    <a class="btn btn-primary word" target="_blank" href="http://www.bbc.co.uk">Download my cv</a>
</div>
<hr class="arrow" />
{% endblock %}
{% block sectionFour%}
{% endblock %}


