
{% extends "layout-multi-sections.html" %}
{% block sectionOne%}

          <div class="content">
            <div class="col-sm-6 remove-side-padding">
                <div class="fullheight left">
                  <h1>ROD MILEY<span> ux designer / developer</span></h1>
                </div>
            </div>
            <div class="col-sm-6 remove-side-padding">
                <div class="fullheight" style="background:url('img/liverbuilding.jpg') no-repeat 0 0;">
                         <div class="intro">
                         <h2>10 <span>YEARS INDUSTRY EXPERIENCE</span></h2> 
                         <p>Battling against</p>
                        <blockquote>
                           Can you make the logo bigger
                        </blockquote>

                        </div>
                </div>
            </div>
        </div>

    
        <div class="scroll-icon">
          <a href="#secondSection"><span class="sr">Scroll to the next section</span></a>
        </div>
    
{% endblock %}
{% block sectionTwo%}


        <div class="content">
            <div class="col-md-6 remove-side-padding">
                <div class="halfheight lime">
<div class="hovereffect">
    <a href="tropicalworld.html">
        <img class="background floatRight" src="img/plan-your-visit.jpg" alt="">
        <div class="overlay">
        </div>
        <h2><span>View Case Study   ssss ssc </span></h2>
        <img class="logo" src="img/tropicalworldlogo.svg" alt="">
    </a>
</div>
                  
                </div>
            </div>
<div class="col-md-3 remove-side-padding">
    <div class="halfheight orange">
        <div class="hovereffect">
            <a href="#">
                <img class="background" src="img/children-lying-in-the-grass.jpg" alt="">
                <div class="overlay">
                </div>
                <h2>View Case Study</h2>
                <img class="logo" src="img/logo.png" alt="">
            </a>
        </div>
    </div>
</div>
            <div class="col-md-3 remove-side-padding">
                <div class="halfheight red">
             <div class="hovereffect">
    <a href="#">
        <img class="background floatRight" src="img/plan-your-visit.jpg" alt="">
        <div class="overlay">
        </div>
        <h2>View Case Study</h2>
        <img class="logo" src="img/tropicalworldlogo.svg" alt="">
    </a>
</div>
                </div>
            </div>
                <div class="col-md-3 remove-side-padding">
                <div class="halfheight green">
                    <div class="hovereffect">
                        <img class="img-responsive" src="img/liverbuilding.jpg" alt="">
                        <div class="overlay">
                            <h2>Hover effect 1</h2>
                            <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            </div>    <div class="col-md-3 remove-side-padding">
                <div class="halfheight green">
                    <div class="hovereffect">
                        <img class="img-responsive" src="img/liverbuilding.jpg" alt="">
                        <div class="overlay">
                            <h2>Hover effect 1</h2>
                            <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            </div>    <div class="col-md-3 remove-side-padding">
                <div class="halfheight green">
                    <div class="hovereffect">
                        <img class="img-responsive" src="img/liverbuilding.jpg" alt="">
                        <div class="overlay">
                            <h2>Hover effect 1</h2>
                            <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            </div>    <div class="col-md-3 remove-side-padding">
                <div class="halfheight green">
                    <div class="hovereffect">
                        <img class="img-responsive" src="img/liverbuilding.jpg" alt="">
                        <div class="overlay">
                            <h2>Hover effect 1</h2>
                            <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block sectionThree %}
Section four
{% endblock %}
{% block sectionFour%}
{% endblock %}


