
{% extends "layout-multi-sections2.html" %}
{% block sectionOne%}

<div class="col-lg-4 col-md-6 remove-side-padding fullheight displayTable gray">
    <div class="content-block">
    <h2 class="h3">Brief</h2>
    <p>Tropical world is a user attraction based in north yorkshire. Our brief was to produce a responsive website which showcased the conservation work  undertaken at the attraction, Plus enable visitors to book their visit online.</p>
    </div>
</div>
<div class="col-lg-8 col-md-6 remove-side-padding fullheight lime"  style="background:url(img/plan-your-visit.jpg) no-repeat center right">
        
        
        <div class="overlay">
                 <div class="content-block-img">
          <img class="logo" src="img/tropicalworldlogo.svg" alt="">
            </div>
        </div>
       
</div>
<div class="scrollTo">
    <a href="#secondSection"><span class="sr">Scroll to the next section</span>
    <span></span>
    <span class="arrow"></span>
    <span></span>
    </a>
</div>

{% endblock %}
{% block sectionTwo%}
<div class="col-lg-4 col-md-6 remove-side-padding fullheight displayTable lime">
    <div class="content-block">
   <!-- <h2>The Process</h2> 
    <ul class="step" >
       <li class="active">1</li>
       <li>2</li> 
       <li>3</li> 
       <li>4</li>  
   </ul>  -->
    <h3 class>Sketches</h3>
    <p>Initial sketch’s where produced it quickly became apparent that content was going to be important to the execution of this website</p>
    </div>
</div>
<div class="col-lg-8 col-md-6 remove-side-padding fullheight lime"  style="background:url(img/tropicalSketch.jpg) no-repeat center right">
        

       
</div>
<div class="scrollTo">
    <a href="#thirdSection"><span class="sr">Scroll to the next section</span>
    <span></span>
    <span class="arrow"></span>
    <span></span>
    </a>
</div>


{% endblock %}
{% block sectionThree %}

<div class="col-lg-4 col-md-6 remove-side-padding fullheight displayTable red">
    <div class="content-block">
    <!--<h2>The Process</h2> 
    <ul class="step" >
       <li>1</li>
       <li class="active">2</li> 
       <li>3</li> 
       <li>4</li>  
   </ul>  -->
    <h3 class>Wireframes</h3>
    <p>We produced wireframes to show the content and structure, clear signposts like the meet the animals section on the homepage proved popular with the focus group, we had numerous iterations showing different plaement of the book now button.</p>
    </div>
</div>
<div class="col-lg-8 col-md-6 remove-side-padding fullheight"  style="background:url(img/tropicalSketch.jpg) no-repeat center right">
        

       
</div>
<div class="scrollTo">
    <a href="#fourthSection"><span class="sr">Scroll to the next section</span>
    <span></span>
    <span class="arrow"></span>
    <span></span>
    </a>
</div>

{% endblock %}
{% block sectionFour%}


<div class="fullheight">
            <div class="horizontal-scrolling">
          <div class="col-lg-4 col-md-6 remove-side-padding fullheight displayTable purple">
    <div class="content-block">
   <!-- <h2>The Process</h2> 
   // <ul class="step" >
       <li>1</li>
       <li>2</li> 
       <li class="active">3</li> 
       <li>4</li>  
   </ul>  -->
    <h3 class>Visual Design</h3>
    <p>We wanted the whole user experience to be consistent through the whole user journey from visiting the website to marketing materials and attending the attraction.</p>
<p>
Tropical World aleady had a strong print based brand with lots of graphic elements, we used these as the base to produce the feel of the website witch matched the brand nicley.</p>
    </div>
</div>      
         <div class="fullheight2"  style="background:url(img/tropicalSketch.jpg) no-repeat center center"></div>
        </div>
        <div class="horizontal-scrolling">
          <h2>fullPage.js</h2>
          <h3>This is the second slide</h3> 
          <p class="end">Thank you!</p>
        </div>

        <div class="horizontal-scrolling">
        <div class="fullheight2"  style="background:url(img/tropical-screen1.jpg) no-repeat top center"></div>
        </div>
        

       
</div>
<div class="scrollTo">
    <a href="#fourthSection"><span class="sr">Scroll to the next section</span>
    <span></span>
    <span class="arrow"></span>
    <span></span>
    </a>
</div>

{% endblock %}


