{% extends "master.html" %}   


{% block content %}
 <section class="sectionOne container" id="1">
{% block sectionOne%}
{% endblock %}
 </section>
 <section class="sectionTwo container" id="2">
{% block sectionTwo%}
{% endblock %}
 </section>
  <section class="sectionThree container" id="3">
{% block sectionThree%}
{% endblock %}
 </section>
  <section class="sectionFour container" id="4">
{% block sectionFour%}
{% endblock %}
 </section>
   <section class="sectionFive container" id="5">
{% block sectionFive%}
{% endblock %}
 </section>
 
{% endblock%}

