<!-- layout.nunjucks -->

<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage v2</title>

    <!-- css files -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700,500,100,800,900" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

    <link href="../css/base2.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <header>
      <a href="/#secondSection" class="brand active"></a>
    </header>


  <!-- You write code for this content block in another file -->
    <div id="fullpage">
  {% block content %} {% endblock %}
</div>

    <!-- js files -->


</body>
</html>